* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --alinhamento-texto: left;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFF8;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #073608;
    padding: 15px 30px;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.separator {
    display: flex;
    width: 2px;
    height: 100px;
    background-color: #B2D1A8;
}

.logo {
    display: flex;
    align-items: center;
    color: #B2D1A8;
    font-size: 24px;
    font-weight: bold;
}

.logo-img {
    width: 209px;
    height: 139px;
    margin-right: 10px;
}


.nav-menu {
    display: flex;
    gap: 60px;
    color: #8EDD8E;
    font-family: crimson-family, serif;
    font-size: 50px;
}

.nav-menu a {
    color: #8EDD8E;
    text-decoration: none;
    font-size: 28px;
}
.nav-menu a:hover {
    color: #f5e8d5;
}

.language-switch{
    padding-right: var(--header-margin);
}

.language-switch a {
    color: #8EDD8E;
    cursor: pointer;
    font-size: 18px;
    font-family: var(--title-font), serif;
    text-decoration: none;
}
.language-switch a:hover{
    color: #f5e8d5;
    text-decoration: none;
}
.actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.download-btn {
    background-color: #8EDD8E;
    color: #1E3815;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
}

.text-image {
    margin-top:  3vh;
    margin-bottom: 100px;
}

.text-image .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
}

.text-image article {
    width: 50%;
    flex-direction: column;
    color: var(--primary-green);
    text-align: var(--alinhamento-texto);
}

.text-image.right article {
    margin-left: 5vw;
}

.text-image.left article {
    margin-right: 5vw;
}

h1 {
    font-family: var(--title-font), serif;
    font-size: 60px;
     color: var(--primary-green);
     margin-top: var(--header-margin);
     text-align:center;
     margin-bottom: var(--header-margin);
}


.title-form{
    font-family: var(--title-font), serif;
    font-size: 60px;
    color: var(--primary-green);
    margin-top: var(--header-margin);
    text-align:center;
}

.characters{
    width:35vw;
    margin: 0;
}

.men{
    transform: rotateY(180deg);
}

.text-image p {
    width: 90%;
    font-family: var(--text-font), serif;
    font-size: x-large;

}

.text-image article {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--text-font), serif;
    font-weight: 600;
    font-size: 8rem;
    color: var(--primary-green);
    background-color: var(--secondary-yellow);
    padding: 10px;
    border-radius: var(--default-radius);
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}


.text-image a:hover {
    background-color: var(--primary-background);
    color: var(--primary-green);
}

.container {
    display: flex;
}

p {
    text-align:center;
    vertical-align: middle;
    display: table-cell;
}

article {
    background-color: #FFF2D9;
    border-radius: var(--default-radius);
    box-shadow: 9px 9px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: var(--default-radius);
 }

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    width: 100%;
    padding: 100px;
}

.card {
    background-color: #f5e8d5;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 1000px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    background-color: #d3d3d3;
}

.size {
    height: 15000px;
    object-fit: cover;
}

.title {
    font-weight: bold;
    margin-top: 15px;
}

.author {
    font-size: 0.9em;
    color: #555;
}

.form-acalento {
    margin-top: var(--header-margin);
}

.form-acalento h2 {
    font-weight: 600;
    font-size: 2vw;
    font-family: var(--title-font), serif;
    color: var(--primary-green);
}

.form-block h3 {
    font-weight: 600;
    font-size: 1.2vw;
    font-family: var(--title-font), serif;
    color: var(--primary-green);
    margin-top: 3vh;
}

input {
    padding: 10px;
    border: var(--default-border);
    border-radius: var(--default-radius);
    font-size: 14px;
    color: var(--primary-green);

}

.form-block {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.input-block {
    display: flex;
    margin-top: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 1vw;
    width: 100%;
}

.field:first-child {
    margin-left: 0;
}

.selectInput {
    padding: 10px;
    border: var(--default-border);
    border-radius: var(--default-radius);
    font-size: 14px;
    color: var(--primary-green);
}

label{
    font-family: var(--text-font), serif;
    font-size: 0.8vw;
    margin-bottom: 8px;
}

.form-acalento .field.button  {
    margin: 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-acalento .field.button label {
    color: var(--tertiary-background);
}

.login .container{
    width: 50%;
    justify-content: center;
}

.selectInput {
    padding: 10px;
    border: var(--default-border);
    border-radius: var(--default-radius);
    font-size: 14px;
    color: var(--primary-green);
    height: 200px;
    width: 35vw;
}

label{
    font-family: var(--text-font), serif;
    font-size: 0.8vw;
    margin-bottom: 8px;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/fonts/PlayfairDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
}
:root {
    /*AZUL PADRÃO*/
    --primary-green: #073608;
    --secondary-green: #8EDD8E;
;

    /*AMARELO PADRÃO*/
    --primary-yellow: #FFBF00;
    --secondary-yellow: #FFF7D8;

    /*FUNDO PADRÃO*/
    --primary-background: #FFFFF8;
    --secondary-background: #FFFCD8;
    --tertiary-background: #FFFEF2;

    /*CORES ACESSIBILIDADE*/
    --acessibility-primary: #000000;
    --acessibility-secondary: #cccccc;
    --acessibility-tertiary: #ffffff;

    /*BORDA PADRÃO*/
    --default-border: solid 1px var(--primary-green);
    --acessibility-border: solid 1px var(--acessibility-primary);
    --secondary-border: solid 1px var(--primary-background);
    --default-radius: 12px;

    /*FONTE PADRÃO*/
    --title-font: 'PlayfairDisplay', serif;
    --text-font: 'Poppins', sans-serif;

    /*ESPAÇO DO HEADER PADRÃO*/
    --header-margin: 60px;
}

/*BOTÃO PADRÃO*/

.btn {
    font-family: var(--text-font), serif;
    font-weight: 600;
    align-self: center;
    padding: 15px 90px;
    border-radius: var(--default-radius);
    color: var(--tertiary-background);
    background-color: var(--primary-green);
}

.btn.read {
    margin-top: var(--header-margin);
    margin-bottom: 10px;
}

.btn.main {
    color: var(--tertiary-background);
    background-color: var(--primary-green);
}

.btn.main:hover {
    background-color: var(--primary-background);
    color: var(--primary-green);
}

.btn.secondary {
    color: var(--primary-green);
    background-color: var(--secondary-green);
}

.btn.secondary:hover {
    background-color: var(--primary-background);
    color: var(--primary-green);
}


.btn.acessibility {
    color: var(--acessibility-tertiary);
    background-color: var(--acessibility-primary);
}

.btn.acessibility:hover {
    background-color: var(--acessibility-tertiary);
    color: var(--acessibility-primary);
    border: var(--acessibility-border);
}